<ion-view title="Welcome" class="tour">
  <ion-nav-buttons side="left">
  </ion-nav-buttons>
  <ion-slide-box>
    <ion-slide>
      <img src="img/splash1.png" />
      <h2>安全校车</h2>
      <h3>采用符合国家标准的安全校车</h3>
      <h3>为学生安全乘坐提供硬件保障</h3>
      <h3>学海之舟快乐启程</h3>
    </ion-slide>
    <ion-slide>
      <img src="img/splash2.png" />
      <h2>便捷路线</h2>
      <h3>提供便捷的路线规划</h3>
      <h3>愉悦孩子们的上学旅途</h3>
      <h3>家校连接无缝对接</h3>
    </ion-slide>
    <ion-slide>
      <img src="img/splash3.png" />
      <h2>经济校车</h2>
      <h3>高性价比提供更好校车服务</h3>
      <h3>经济校车释放您的接送压力</h3>
      <h3>和谐家庭幸福美好</h3>
    </ion-slide>
    <ion-slide>
      <img src="img/splash4.png" />
      <h2>环保校车</h2>
      <h3>采用更清洁的能源发动</h3>
      <h3>提倡低碳生活培养环保意识</h3>
      <h3>绿色城市环保出行</h3>
      <br>
      <button class="button" ng-click="start()">开始体验</button>
    </ion-slide>
  </ion-slide-box>
</ion-view>
