<ion-view title="联系我们">
  <ion-content class="padding">
    <ul class="list">

      <li class="item">
        <h2>客服热线</h2>
        <p><a href="tel:01051095840">010-51095840</a></p>
      </li>
      <li class="item">
        <h2>邮箱</h2>
        <p><a href="mailto:zhongyianda@joyschoolbus.com">zhongyianda@joyschoolbus.com</a></p>
      </li>
      <li class="item">
        <h2>总部地址</h2>
        <p>北京市朝阳区北苑路13号院领地大厦A座1508</p>
      </li>
      <li class="item">
        <h2>顺义运营中心</h2>
        <p>北京市顺义区园盈路7号新三板加速器大厦3层</p>
      </li>

    </ul>
  </ion-content>
</ion-view>
